*{margin:0;padding:0;box-sizing:border-box;}
ul{list-style:none;}
body{background:#1265B8;color:#f4f4f4;font:normal 12px Arial;}
header{border-bottom:1px solid #f4f4f4;padding:5px;margin-bottom:5px;overflow:hidden;}
footer{text-align:center;padding:10px;}
h1{font:normal 20px Arial;float:left;}
button{padding:5px;cursor:pointer;}
p{display:inline;}
a{color:#f4f4f4;}
#main{max-width:810px;margin:0 auto 10px;}
#stats{float:right;position:relative;vertical-align:middle;white-space:nowrap;}
/* */
.card-list{overflow:hidden;padding:5px;width:810px;margin:0 auto;}
.card-item{width:160px;height:160px;float:left;border:5px solid #fff;background:#301D0B;box-shadow: 0px 0px 0px 1px #65b8da;text-indent: -999em;border-radius:10px;}
.card-item img{display:none;}
.is-selected{border-color:red;}
.is-opened{border-color:green;}
.is-selected img,
.is-opened img{display: block;}